.Contact {
    font-family: tanha;
    text-align: right;
    margin-right: 10px;
    color: #8a2a57;
}

.Contact :focus {
    border-radius: 3px;
    outline: #8a2a57;
}

.ModalMsg h3 {
    text-align: center;
    display: block;
    margin: auto;
}